<%= simple_form_for @diet do |f| %>
  <div class="flex-1 md:p-0 lg:pt-8 lg:px-8 md:ml-24 flex flex-col">
    <div class="md:flex mb-4">
      <div class="md:flex-1 md:pr-3">
        <label class="block uppercase tracking-wide text-charcoal-darker text-xs font-bold">Start date</label>
        <%= f.date_field :start_date, class: "w-full form-control datepicker p-4 border-0" %>
      </div>
      <div class="md:flex-1 md:pl-3">
        <label class="block uppercase tracking-wide text-charcoal-darker text-xs font-bold">End date</label>
        <%= f.date_field :end_date, class: "w-full form-control datepicker p-4 border-0" %>
        <span class="text-xs mb-4 font-thin">We lied, this isn't required.</span>
      </div>
    </div>
    <div class="md:flex mb-4">
      <div class="md:flex-1 md:pr-3">
        <label class="block uppercase tracking-wide text-charcoal-darker text-xs font-bold">Your Height</label>
        <%= f.text_field :height, class: "w-full p-4 border-0" %>
      </div>
      <div class="md:flex-1 md:pr-3">
        <label class="block uppercase tracking-wide text-charcoal-darker text-xs font-bold">Your Actual Weight</label>
        <%= f.text_field :init_weight, class: "w-full p-4 border-0" %>
      </div>
      <div class="md:flex-1 md:pl-3">
        <label class="block uppercase tracking-wide text-charcoal-darker text-xs font-bold">Ideal Weight</label>
        <%= f.text_field :ideal_weight, class: "w-full p-4 border-0" %>
        <span class="text-xs mb-4 font-thin">We lied, this isn't required.</span>
      </div>
    </div>
    <h2 class="md:w-1/3 uppercase tracking-wide text-indigo-800 font-semibold text-sm sm:text-lg mb-6">Meals</h2>
  <div id='meals'>
    <%= f.simple_fields_for :meals do |meal| %>
      <%= render 'meal_fields', :f => meal %>
    <% end %>
    <div class='links'>
      <div class="md:flex mb-4">
        <%= link_to_add_association 'Add New Meal', f, :meals, class: 'bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full' %>
      </div>
    </div>
  </div>
  </div>
  <%= f.button :submit, class: "bg-indigo-500 text-gray-100 p-4 w-full rounded-full tracking-wide
  font-semibold font-display focus:outline-none focus:shadow-outline hover:bg-indigo-600
  shadow-lg" %>
<% end %>
